--
-- PostgreSQL database dump
--

\restrict 5QnyXYZ85AAs39Fea8XLPWtxthVLEobCNkxXpgngEr4fUyHNG766jWh8aILA3Z7

-- Dumped from database version 18.3
-- Dumped by pg_dump version 18.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


--
-- Name: ambulances; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ambulances (
    id character varying(255) NOT NULL,
    driver_id character varying(255),
    registration_number character varying(100) NOT NULL,
    ambulance_type character varying(50) NOT NULL,
    equipment_capabilities json,
    hospital_affiliation character varying(255)
);


--
-- Name: driver_documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.driver_documents (
    id character varying(255) NOT NULL,
    driver_id character varying(255) NOT NULL,
    document_type character varying(100) NOT NULL,
    category character varying(50) NOT NULL,
    file_url character varying(500) NOT NULL,
    file_name character varying(255) NOT NULL,
    mime_type character varying(100) NOT NULL,
    file_size_bytes integer NOT NULL,
    status character varying(50) NOT NULL,
    rejection_reason text,
    uploaded_at timestamp with time zone NOT NULL,
    reviewed_at timestamp with time zone,
    reviewed_by character varying(255)
);


--
-- Name: driver_locations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.driver_locations (
    id character varying(255) NOT NULL,
    driver_id character varying(255) NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    accuracy_meters double precision,
    altitude_meters double precision,
    heading_degrees double precision,
    speed_mps double precision,
    recorded_at timestamp with time zone NOT NULL
);


--
-- Name: drivers; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.drivers (
    id character varying(255) NOT NULL,
    full_name character varying(255) NOT NULL,
    mobile_number character varying(50) NOT NULL,
    email character varying(255) NOT NULL,
    hashed_password character varying(255) NOT NULL,
    date_of_birth character varying(50),
    residential_address text,
    emergency_contact character varying(50),
    badge_id character varying(100),
    years_of_experience integer NOT NULL,
    verification_status character varying(50) NOT NULL,
    duty_status character varying(50) NOT NULL,
    availability_status character varying(50) NOT NULL,
    created_at timestamp with time zone NOT NULL,
    updated_at timestamp with time zone NOT NULL
);


--
-- Name: emergencies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.emergencies (
    id uuid NOT NULL,
    patient_id character varying(255) NOT NULL,
    front_photo_path character varying(500) NOT NULL,
    rear_photo_path character varying(500) NOT NULL,
    latitude double precision NOT NULL,
    longitude double precision NOT NULL,
    accuracy double precision NOT NULL,
    "timestamp" timestamp with time zone,
    created_at timestamp with time zone NOT NULL,
    status character varying(50) NOT NULL,
    assigned_ambulance_id character varying(255),
    assigned_driver_id character varying(255),
    patient_name character varying(255),
    patient_phone character varying(50),
    pickup_address text,
    emergency_type character varying(100),
    priority character varying(50),
    accepted_at timestamp with time zone,
    completed_at timestamp with time zone,
    current_candidate_driver_id character varying(255),
    dispatch_offered_at timestamp with time zone,
    response_deadline timestamp with time zone
);


--
-- Name: emergency_responses; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.emergency_responses (
    id character varying(255) NOT NULL,
    request_id character varying(255) NOT NULL,
    driver_id character varying(255) NOT NULL,
    action character varying(50) NOT NULL,
    response_timestamp timestamp with time zone NOT NULL
);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: ambulances ambulances_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ambulances
    ADD CONSTRAINT ambulances_pkey PRIMARY KEY (id);


--
-- Name: driver_documents driver_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.driver_documents
    ADD CONSTRAINT driver_documents_pkey PRIMARY KEY (id);


--
-- Name: driver_locations driver_locations_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.driver_locations
    ADD CONSTRAINT driver_locations_pkey PRIMARY KEY (id);


--
-- Name: drivers drivers_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.drivers
    ADD CONSTRAINT drivers_pkey PRIMARY KEY (id);


--
-- Name: emergencies emergencies_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.emergencies
    ADD CONSTRAINT emergencies_pkey PRIMARY KEY (id);


--
-- Name: emergency_responses emergency_responses_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.emergency_responses
    ADD CONSTRAINT emergency_responses_pkey PRIMARY KEY (id);


--
-- Name: ix_ambulances_driver_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ambulances_driver_id ON public.ambulances USING btree (driver_id);


--
-- Name: ix_ambulances_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_ambulances_id ON public.ambulances USING btree (id);


--
-- Name: ix_ambulances_registration_number; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_ambulances_registration_number ON public.ambulances USING btree (registration_number);


--
-- Name: ix_driver_documents_driver_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_driver_documents_driver_id ON public.driver_documents USING btree (driver_id);


--
-- Name: ix_driver_documents_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_driver_documents_id ON public.driver_documents USING btree (id);


--
-- Name: ix_driver_locations_driver_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_driver_locations_driver_id ON public.driver_locations USING btree (driver_id);


--
-- Name: ix_driver_locations_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_driver_locations_id ON public.driver_locations USING btree (id);


--
-- Name: ix_driver_locations_recorded_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_driver_locations_recorded_at ON public.driver_locations USING btree (recorded_at);


--
-- Name: ix_drivers_availability_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_drivers_availability_status ON public.drivers USING btree (availability_status);


--
-- Name: ix_drivers_duty_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_drivers_duty_status ON public.drivers USING btree (duty_status);


--
-- Name: ix_drivers_email; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_drivers_email ON public.drivers USING btree (email);


--
-- Name: ix_drivers_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_drivers_id ON public.drivers USING btree (id);


--
-- Name: ix_drivers_mobile_number; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX ix_drivers_mobile_number ON public.drivers USING btree (mobile_number);


--
-- Name: ix_drivers_verification_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_drivers_verification_status ON public.drivers USING btree (verification_status);


--
-- Name: ix_emergencies_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_emergencies_id ON public.emergencies USING btree (id);


--
-- Name: ix_emergencies_patient_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_emergencies_patient_id ON public.emergencies USING btree (patient_id);


--
-- Name: ix_emergencies_status; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_emergencies_status ON public.emergencies USING btree (status);


--
-- Name: ix_emergency_responses_driver_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_emergency_responses_driver_id ON public.emergency_responses USING btree (driver_id);


--
-- Name: ix_emergency_responses_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_emergency_responses_id ON public.emergency_responses USING btree (id);


--
-- Name: ix_emergency_responses_request_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX ix_emergency_responses_request_id ON public.emergency_responses USING btree (request_id);


--
-- Name: ambulances ambulances_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ambulances
    ADD CONSTRAINT ambulances_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id);


--
-- Name: driver_documents driver_documents_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.driver_documents
    ADD CONSTRAINT driver_documents_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id);


--
-- Name: driver_locations driver_locations_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.driver_locations
    ADD CONSTRAINT driver_locations_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id);


--
-- Name: emergency_responses emergency_responses_driver_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.emergency_responses
    ADD CONSTRAINT emergency_responses_driver_id_fkey FOREIGN KEY (driver_id) REFERENCES public.drivers(id);


--
-- PostgreSQL database dump complete
--

\unrestrict 5QnyXYZ85AAs39Fea8XLPWtxthVLEobCNkxXpgngEr4fUyHNG766jWh8aILA3Z7

